.chat{
    flex: 0.8;
    display: flex;
    flex-direction: column;
}

.chat_header{
    padding: 10px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid lightgray;
}


.chat_headerInfo{
    flex: 1;
    padding-left: 20px;
    color: white;
}

.chat_headerInfo >h3{
    margin-bottom:  3px;
    font-size: 17px;
    font-weight: 500;
}

.chat_headerInfo > p{
    color: rgb(204, 201, 201);
    font-size: 14px;
}

.chat_headerRight{
    display: flex;
    justify-content: space-between;
    min-width: 100px;
}

.chat_headerRight > .MuiIconButton-root{
    color: rgb(255 255 255 / 54%);
}

.chat_body {
    flex: 1;
    background-color: white;
    background-repeat: repeat;
    padding: 30px;
    overflow: scroll;
}

.chat_message{
    position: relative;
    font-size: 16px;
    padding: 10px;
    background-color: #c0b5c7;
    border-radius: 40px;
    width: fit-content;
    margin-bottom: 30px;
}

.chat_receiver{
    margin-left: auto;
    background-color: rgb(201, 222, 250);
}

.chat_name{
    position: absolute;
    top: -15px;
    font-weight: 800;
    font-size: xx-small;
}

.chat_timestamp{
    margin-left: 10px;
    font-size: xx-small;
}

.chat_footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
    border-top: 1px solid lightgray;
}

.chat_footer > form{
    flex: 1;
    display: flex;
}

.chat_footer >form>input{
    flex: 1;
    border-radius: 30px;
    padding: 10px;
    border: none;
}

.chat_footer>form>button {
    display: none;
}

.chat_footer > .MuiSvgIcon-root{
    padding: 10px;
    color: rgb(255, 254, 254);
}