.sidebar{
    display: flex;
    flex-direction: column;
    flex: 0.35;
}

.avatar{
    margin-left: 10px;
}
.sidebar_search{
    display: flex;
    align-items: center;
    background-color: #f6f6f6;
    height: 39px;
    padding: 10px;
}

.sidebar_searchContainer > input{
    border: none;
    margin-left: 10px;
    width: 100%;
}

.sidebar_searchContainer > .MuiSvgIcon-root{
    color: gray;
}

.sidebar_searchContainer{
    display: flex;
    align-items: center;
    background-color: white;
    width: 100%;
    height: 35px;
    border-radius: 20px;
}

.sidebar_header{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-right: 1px solid lightgray ;
}

.sidebar_headerRight{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 10vw;
}


.sidebar_headerRight > .MuiSvgIcon-root {
    margin-right:  2vw ;
    font-size: 24px !important;
}

.sidebar_headerRight > .MuiIconButton-root{
    color: rgb(255 255 255 / 54%);
}

.sidebar_chats{
    flex: 1;
    overflow: scroll;

}