.sidebarChat{
    display: flex;
    padding: 20px;
    cursor: pointer;
    border-bottom: 1px solid #f6f6f6;
    background-color: white;
}

a{
    text-decoration: none;
    color: black;
}

.add__chat{
    font-size: 21px;
    font-weight: 650;
    letter-spacing: 1px;
}

.sidebarChat:hover {
    background-color: #ebebeb;
}

.sidebarChat_info > h2{
    font-size: 17px;
    font-weight: 650;
    margin-bottom: 8px;
}

.sidebarChat_info{
    margin-left: 15px;
}