.app{
    display: grid;
    place-items: center;
    background-color: #254B84;
    height: 100vh;
}


.app_body{
    display: flex;
    background-color:#096092 ;
    margin-top: -50px;
    height: 90vh;
    width: 90vw;
    box-shadow: -1px 4px 20px -6px rgba(0,0,0,0.2);
}